@font-face {
  font-family: "Urbanist";
  src: url(../public/fonts/Urbanist-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: lightgray;
  font-family: Urbanist;
}

.mobile-container {
  width: 428px;
  height: 882px;
  margin: 0 auto;
}
main {
  background-color: white;
  height: 100%;
  margin-top: 2%;
}

/* LoadingScreen */

/* LoginPage  */

/* RegisterPage  */

/* HomePage  */

/* ProfilePage */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.profile-header img {
  height: 30px;
  width: 30px;
}

.profile-header div:first-of-type {
  display: flex;
  align-items: center;
}

.profile-header div:first-of-type img {
  padding-right: 15px;
  height: 32px;
  width: 32px;
}

.profile-header div:first-of-type h2 {
  font-size: 1em;
}

.profile-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding-right: 1.2rem;
}

.profile-icons a img {
  width: 25px;
  height: 25px;
}

.logoutBtn img {
  width: 28px;
  height: 28px;
}

.profile-container {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.follower-container {
  display: flex;
}

/* EditProfilePage  */

.back-home-btn,
.logoutBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
