@font-face {
  font-family: "Urbanist";
  src: url(/fonts/Urbanist-VariableFont_wght.ttf);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: lightgray;
  font-family: Urbanist;
}

hr {
  width: 100%;
  color: #eeeeee;
}
.mobile-container {
  width: 428px;

  margin: 0 auto;
}
main {
  background-color: white;
  height: 100%;
  width: 428px;
  position: relative;
  margin-top: 2%;
  padding-bottom: 60px;
}
.main-container {
  padding: 1.2rem;
  min-height: 100vh;
}

.mini-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ! Components */

/* LoadingScreen */

.loader {
  margin-top: 30vh;
}
/* NavBar */
nav {
  width: 428px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: white;
  border-top: 1px solid #9e9e9e;
  border-radius: 10%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  position: fixed;
  bottom: 0;
}

/* NavBar */

/* .logout-svg {
  width: 30px;
  height: 30px;
} */
nav a {
  text-decoration: none;
}
nav img {
  height: 20px;
}
nav p {
  font-size: 10px;
  color: #9e9e9e;
}
/* .active,
.active circle,
.active path,
.active rect {
  fill: #ff4d67;
  stroke: #ff4d67;
  color: #ff4d67;
} 


/* FollowerButton */

.follower-btn {
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  transition: all 0.3s;
  border: none;
}
.follower-btn.following {
  background-color: #fff;
  color: #ff4d67;
  border: 2px solid #ff4d67;
}
.follower-btn:not(.following) {
  background-color: #ff4d67;
  color: #fff;
}

/* PostInteraction */
.comment-like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ! Pages */

/* LoginPage / RegisterPage */

.auth-heading {
  font-size: 40px;
  line-height: 2.75rem;
}
.auth-logo {
  width: 140px;
  display: block;
  margin: 2.75rem auto;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.auth-input-area {
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  background-color: #fafafa;
  color: #183a4c;
  display: flex;
  gap: 1.5rem;
}
.auth-input {
  width: 100%;
  border: none;
  background-color: #fafafa;
  color: #183a4c;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
.auth-input:focus {
  outline: none;
}
.auth-button {
  border: none;
  border-radius: 40px;
  padding: 12px 24px;
  background-color: #e98090;
  color: white;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  cursor: pointer;
}
.auth-button:hover {
  background-color: #ff4d67;
}
.auth-button:disabled {
  background-color: #e98090;
  cursor: not-allowed;
}
.auth-forgot-link {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
  color: #ff4d67;
  text-decoration: none;
  font-weight: 600;
}
.auth-other-page-link-text {
  text-align: center;
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: none;
  margin-top: 5rem;
  font-weight: 500;
}
.auth-other-page-link {
  color: #ff4d67;
  text-decoration: none;
}
.login-link-text {
  text-align: center;
  font-size: 14px;
  color: #9e9e9e;
  font-family: Urbanist;
  text-decoration: none;
  margin-top: 3.6rem;
  font-weight: 500;
}

/* HomePage  */

.home-header {
  display: flex;
  margin-bottom: 2rem;
}
.home-header a img {
  width: 45px;
  padding-right: 1rem;
}
.home-header h1 {
  font-size: 24px;
}

.post-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.post-img {
  width: 380px;
  height: 380px;
  object-fit: contain;
  border-radius: 14px;
}
.post-text {
  width: 380px;
  padding: 0.2em 0;
}
.interaction-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

/* SearchPage */

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.search-input-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.search-input {
  width: 100%;
  padding: 20px 20px 20px 60px;
  border: none;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.user-icon {
  width: 16px;
  height: 20px;
  margin: 0 auto;
}
.search-hr {
  border: none;
  border-top: 3px solid #ff4d67;
  margin: 1rem auto;
}
.user-list {
  display: flex;
  flex-direction: column;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.user-info {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.search-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21.6px;
}
.user-occ {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.225rem;
  letter-spacing: 0.2px;
  color: #616161;
  word-wrap: break-word;
}

/* ProfilePage */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header img {
  height: 30px;
  width: 30px;
}

.profile-header div:first-of-type {
  display: flex;
  align-items: center;
}

.profile-header div:first-of-type img {
  padding-right: 15px;
  height: 40px;
  width: 40px;
}

.profile-header div:first-of-type h2 {
  font-size: 1em;
}

.profile-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.profile-icons a img {
  width: 25px;
  height: 25px;
}

.logoutBtn img {
  width: 28px;
  height: 28px;
}

.profile-container {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.image-container {
  margin-bottom: 3rem;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.follower-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 40px;
}
.follower-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
}
.follower-container-span {
  background-color: #424242;
  padding: 1px;
}

/* OtherProfile */

.other-follower-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.other-follower-headlines {
  display: flex;
  justify-content: space-around;
}

.follow-btn {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 10px 24px;
  border-radius: 25px;
}

/* EditProfilePage  */

.profile-picture-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 250px;
}

.profile-picture,
.placeholder-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.placeholder-picture {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.edit-form input,
.edit-form select {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 12px;
  background-color: #eee;
  padding-left: 20px;
  font-family: Urbanist;
  color: black;
}
.upload-button {
  position: absolute;
  bottom: 1px;
  right: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* NewPostPage */

.new-post {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.preview-container {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.preview-container:hover {
  background-color: #f0f0f0;
}
.select-image-text {
  color: #ff4d67;
  font-size: 24px;
}
.preview-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}
.gray-background {
  background-color: #9e9e9e;
}
.newPostForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newPostForm > div {
  display: flex;
  gap: 16px;
}
.uploadBtn {
  width: fit-content;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  align-self: center;
  text-align: center;
  color: white;
  background-color: #e98090;
  padding: 10px 24px;
  width: 270px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.uploadBtn:hover {
  background-color: #ff4d67;
}
.show-filter {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.avatar {
  height: 48px;
  width: 48px;
  border-radius: 28px;
  object-fit: cover;
}

.text-f {
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  background-color: #fafafa;
  color: #183a4c;
  font-family: Urbanist;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  width: 90%;
  resize: none;
  height: 40px;
}

/* ImageFilter  */
.filter-options {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 2rem;
}

.filter-option {
  cursor: pointer;
  text-align: center;
}

.filter-option.selected {
  border: 2px solid #ff4d67;
  padding: 2px;
  border-radius: 8px;
}

.filter-text {
  font-size: 14px;
  color: #616161;
}

/* CommentsPage */

.comment-list {
  margin-top: 1.5rem;
}
.comment-list li {
  list-style: none;
}

.comment-text {
  margin-top: 12px;
  font-size: 14px;
}
.comment-time {
  margin: 0.5rem 0;
  font-size: 12px;
  color: #616161;
}
.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.comment-form input {
  height: 56px;
  width: 70%;
  padding: 20px;
  border: none;
  border-radius: 12px;
  background-color: #9e9e9e3b;
  font-size: 14px;
  font-family: Urbanist;
}

.comment-form button {
  color: #ff4d67;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  /* padding: 0 1rem; */
}
/* ShowProfiles */

.show-post-container {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-img-profile {
  width: 124px;
  height: 124px;
  object-fit: cover;
}

/* BackButton */

.backBtn {
  cursor: pointer;
}
