@font-face {
  font-family: "Urbanist";
  src: url(../public/fonts/Urbanist-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: lightgray;
  font-family: Urbanist;
}

.mobile-container {
  width: 428px;
  height: 882px;
  margin: 0 auto;
}
main {
  background-color: white;
  height: 100%;
  margin-top: 2%;
}

/* LoadingScreen */

/* LoginPage  */

/* RegisterPage  */

/* HomePage  */

/* ProfilePage */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.profile-header img {
  height: 30px;
  width: 30px;
}

.profile-header div:first-of-type {
  display: flex;
  align-items: center;
}

.profile-header div:first-of-type img {
  padding-right: 15px;
  height: 32px;
  width: 32px;
}

.profile-header div:first-of-type h2 {
  font-size: 1em;
}

.profile-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding-right: 1.2rem;
}

.profile-icons a img {
  width: 25px;
  height: 25px;
}

.logoutBtn img {
  width: 28px;
  height: 28px;
}

.profile-container {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.image-container {
  margin-bottom: 3rem;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.follower-container {
  display: flex;
}

/* EditProfilePage  */

.back-home-btn,
.logoutBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.edit-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 250px;
}

.profile-picture,
.placeholder-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.placeholder-picture {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button {
  position: absolute;
  bottom: 1px;
  right: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input,
select {
  width: 90%;
  height: 2rem;
}

/* NewPostPage */

.newPostForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newPostForm > div {
  display: flex;
  gap: 16px;
}
.newPostForm > button {
  width: fit-content;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  align-self: center;
  text-align: center;
  color: white;
  background-color: #ff4d67;
  padding: 10px 24px;
  width: 270px;
  border-radius: 100px;
}

.preview,
.avatar {
  height: 56px;
  width: 56px;
}
.avatar {
  border-radius: 28px;
}
.preview {
  border-radius: 8px;
}

.text-f {
  border: none;
  background-color: #fafafa;
  color: #183a4c;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  width: 100%;
  resize: none;
  height: 40px;
}
